<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="{% static 'assests/loginform.css' %}">
</head>
<body>
<form action="" method="post">
<div class="login">
  {% csrf_token %}
<label for="">Username:</label>
        <input type="text" name="username" id="username" placeholder="Enter the username"><br>
     <label for="">Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter the password"><br>
      <input type="submit" value="Login" id="submit"><br>

<p>if you don't have an account....</p>
    <a href="{% url 'register' %}">Sign Up</a>
</div>
</form>
</body>
</html>